#body{
    background-color: #faf8f8;
}
p{
    color: #858688  ;
}
nav{
    position: sticky;
}
h1{
    color: #254469  ;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    
}

.h1-big-size{
    font-size: 55px;
    font-weight: 700;
}

.penguin-img img{
    width: 550px;
    height: 500px;
    padding-left:50px ;
    margin-left: 100px;
    right: 0;
}

.button-buy{
    background-color: #a4bc46;
    border:0;
    border-radius: 5px;
    padding:10px 20px;
    color:white;
    font-weight: 700;
   
    
}
.button-buy i{
    padding-right: 4px;

}
.card-footer{
    border:0;
}
 
.card{
   border-radius: 20px; 
}
.panguing-card {
    border-radius: 20px;
    border:0;
}
.img-container{
 padding: 20px 20px;

}
.panguing-card img{
    background-color: rgb(244, 246, 247);
    padding: 25px;
    border-radius: 20px;
    height: 363px;
    width: 363px;
  
}
.card-body>h5, p{
    
    margin-top: 0;
    padding: 0 10px;
}
h5{
  color: #254469  ;
}

#price-button{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-top: 0;
    padding:0 25px 25px 25px;
}
#price-button h2{
    color:#ffc107;
}
.icon-text{
    padding: 30px;
}
.icon-container{
 margin-right: 10px; 

 background-color: white;
 border-radius: 10px;
} 
.icon-img-container img{
    padding-left: 70px;
    width: 50%;
    height: 100%;
 
}
.shop-more-button{
    padding: 5px 7px 5px 7px;
    border: 2px solid #B6B8BB;
    border-radius: 3px;
    margin: 5px 8px;
    font-size: 16px;
    background-color: white;
    font-family: 'Cormorant Garamond', serif;
    transition: border, background-color 1s ease .3s;

}
.shop-more-button:hover{
    border: 2px solid #ffc107;
    background-color: #f3cb53;
 
}
.footer-shop-more{
    margin-bottom: 20px;
}
.copy-right{
    color: rgb(71, 70, 71);
    background-color: rgb(250, 245, 243);
}